-r requirements.in

# GIT UTILITIES
# -------------------------------------
bumpversion

# PIP UTILITIES
# -------------------------------------
wheel
pip-tools

# LINT UTILITIES
# -------------------------------------
flake8

# TEST UTILITIES
# -------------------------------------
tox
coverage
pytest
mock

# DOC UTILITIES
# -------------------------------------
sphinx
watchdog
restructuredtext_lint
